.container2 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}
.container2:hover {
    transition: all;
}



  .aboutImg {
    height: 500px;
    width: 700px;
    object-fit: contain;
  }
  .footer {
    justify-content: center;
    padding: 10px;
  }